stages:
  - build
  - test
  #  - analyze
  - build-docker
#  - publish
#  - deploy

variables:
  SONAR_HOST_URL: "http://gallenstein.deepblue:9000"
  GRAFANA_API_URI: "http://grafana.deepblue:3000" # set this in Gitlab CI/CD variables
  GRAFANA_API_TOKEN: "<SetMePlz>" # set this in Gitlab CI/CD variables
  GRAFANA_API_APP: "dart-backend"
  GRAFANA_API_ENV: "test"
  HARBOR_REGISTRY: "registry.deepblue.technology"
  HARBOR_REGISTRY_PREFIX: "${HARBOR_REGISTRY}/deepblue/dart/backend" # project-catalog-service
  HARBOR_REGISTRY_IMAGE: "${HARBOR_REGISTRY_PREFIX}/php"
  CI_REGISTRY: "${HARBOR_REGISTRY}"
  CI_REGISTRY_IMAGE: "${HARBOR_REGISTRY_IMAGE}"
  APP_ENV: "prod"
  APP_VERSION: "$CI_COMMIT_REF_NAME"
  COMPOSER_CACHE_DIR: "/cache/.composer/"
  COMPOSER_PROCESS_TIMEOUT: "1200"
  COMPOSER_VERSION: "2.9.2"
  PHP_VERSION: "8.4.11-0"
  DOCKER_VERSION: "29.1.1"
  KUBECTL_VERSION: "v1.25.9-0"
  SONAR_CLI_VERSION: "11.5.0.2154_7.3.0"
  NGINX_VERSION: "1.28.0-1"
  NODE_VERSION: "24.11.1"

#
.handle_docker_login-before_script: &docker_login
  - echo "${CI_DEPENDENCY_PROXY_PASSWORD}" | docker login -u "${CI_DEPENDENCY_PROXY_USER}" --password-stdin "${CI_DEPENDENCY_PROXY_SERVER}"
  - echo "${HARBOR_BUILD_TOKEN}" | docker login -u "${HARBOR_BUILD_USER}" --password-stdin "${HARBOR_REGISTRY}"

# Build php artifacts
build:php:
  image: ${HARBOR_REGISTRY}/library/php:${PHP_VERSION}
  stage: build
  variables:
    COMPOSER_MEMORY_LIMIT: -1
    COMPOSER_AUDIT_ABANDONED: ignore
  script:
    - cd app
    # install update composer
    - composer clearcache
    - composer selfupdate $COMPOSER_VERSION
    - composer clearcache
    # install dependencies
    - composer install --no-progress --prefer-dist --ignore-platform-reqs
    - composer dump-autoload --classmap-authoritative
    - composer audit
    - "find ./vendor -name .git -type d | xargs rm -rf"
    - composer CycloneDX:make-sbom --output-format=json --spec-version=1.6 --output-file=build/sbom.json
    # build API-DOC
  #    - mkdir -p public/api/v2/bff/_docs
  #    - APP_ENV=dev APP_VERSION="$CI_COMMIT_REF_NAME" php bin/console nelmio:apidoc:dump > public/api/v2/bff/_docs/swagger.json

  artifacts:
    untracked: true
    expire_in: 7 days
    paths:
      - app/vendor/
      - app/build/sbom.json
    #      - app/public/api/v2/_docs/swagger.json
    #      - app/public/api/doc/
    reports:
      cyclonedx:
        - app/build/sbom.json

#build:assets:
#  stage: build
#  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/node:${NODE_VERSION}
#  needs:
#    - job: build:php
#      artifacts: true
#  script:
#    - cd app
#    - npm install
#    - npm run build
#  artifacts:
#    untracked: true
#    expire_in: 7 days
#    paths:
#      - app/public/build

###############################################################################
#
# Run quality checks and unit tests
#
test:php:
  image: ${HARBOR_REGISTRY}/library/php:${PHP_VERSION}-pcov
  stage: test
  services:
    - name: mysql:8.0
      alias: mysql
  variables:
    APP_ENV: test
    MYSQL_ROOT_PASSWORD: root123
    MYSQL_DATABASE: testphp_db_test
    DATABASE_URL: "mysql://root:root123@mysql:3306/testphp_db?serverVersion=8.0&charset=utf8mb4"
  script:
    - cd app
    #
    - php bin/console lint:yaml -v --ansi --env=test config
    - php -d memory_limit=-1 bin/console cache:clear --env=test
    - php -d memory_limit=-1 bin/console doctrine:database:create --env=test --if-not-exists
    - php -d memory_limit=-1 bin/console doctrine:migrations:migrate --env=test --no-interaction
    - php -d memory_limit=-1 vendor/bin/phpunit --coverage-text  --exclude-group ignore --coverage-clover build/phpunit.coverage.xml --coverage-cobertura build/phpunit.coverage.cobertura.xml --log-junit build/phpunit.xml
  needs:
    - job: build:php
      artifacts: true
  artifacts:
    when: always
    #    expire_in: 1 day
    #    paths:
    #      - app/build/
    reports:
      # https://docs.gitlab.com/ci/testing/code_coverage/cobertura/#php-example
      coverage_report:
        coverage_format: cobertura
        path: app/build/phpunit.coverage.cobertura.xml
      # https://docs.gitlab.com/ci/testing/unit_test_report_examples/#php
      junit: app/build/phpunit.xml

test:codesniffer:
  image: ${HARBOR_REGISTRY}/library/php:${PHP_VERSION}-dev
  stage: test
  script:
    - cd app
    - php -d memory_limit=-1 vendor/bin/phpcs
    - sed -i -e 's#/builds/deepblue/darts/backend/app/src#app/src#g' build/phpcs-quality-report.json
  needs:
    - job: build:php
      artifacts: true
  artifacts:
    when: always
    reports:
      codequality: app/build/phpcs-quality-report.json

test:static-analysis:
  image: ${HARBOR_REGISTRY}/library/php:${PHP_VERSION}-dev
  stage: test
  #  allow_failure: true
  script:
    - cd app
    - php vendor/bin/psalm --show-info=false --report=build/psalm-quality-report.json
    - sed -i -e 's#\/builds\/deepblue\/darts\/backend\/app\/src#app\/src#g' build/psalm-quality-report.json
  needs:
    - job: build:php
      artifacts: true
  artifacts:
    when: always
    reports:
      codequality: app/build/psalm-quality-report.json

###############################################################################
#
# Build Docker Images
#
docker:build:php:
  stage: build-docker
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}
  tags:
    - docker
  before_script: *docker_login
  script:
    - docker build --label ref_name=${CI_COMMIT_REF_NAME} -f etc/k8s/build/php/Dockerfile -t ${HARBOR_REGISTRY_PREFIX}/php:${CI_COMMIT_REF_NAME} .
    - docker push ${HARBOR_REGISTRY_PREFIX}/php:${CI_COMMIT_REF_NAME}
  needs:
    - job: build:php
      artifacts: true
  #    - job: build:assets
  #      artifacts: true
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+(-(rc|dev|hotfix).*)?$/'
      when: always
    - when: never

docker:build:nginx:
  stage: build-docker
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}
  tags:
    - docker
  before_script: *docker_login
  script:
    - docker build --label ref_name=${CI_COMMIT_REF_NAME} -f etc/k8s/build/nginx/Dockerfile -t $HARBOR_REGISTRY_PREFIX/nginx:${CI_COMMIT_REF_NAME} .
    - docker push ${HARBOR_REGISTRY_PREFIX}/nginx:${CI_COMMIT_REF_NAME}
  needs:
    - job: build:php
      artifacts: true
  #    - job: build:assets
  #      artifacts: true
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+(-(rc|dev|hotfix).*)?$/'
      when: always
    - when: never
