{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center">
        <form action="{{ path('create_room') }}" method="post">
            <button type="submit" class="btn btn-primary">Create Room</button>
        </form>
    </div>
{% endblock %}
