{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4 d-flex flex-column justify-content-center align-items-center">
        <h1>{{ message }}</h1>

        <div class="mt-4">
            <a href="{{ path('app_logout') }}" class="btn btn-secondary">
                <i class="fas fa-sign-out-alt me-1"></i> Abmelden
            </a>
        </div>
    </div>
{% endblock %}
