{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="text-center p-4">
            <h1 class="mb-4">Spielraum beitreten</h1>

            <div class="card mb-4">
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control text-center"
                               value="{{ invitationLink }}"
                               id="roomLink"
                               readonly
                               style="width: auto; min-width: 100%;"
                               size="{{ invitationLink|length }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
