nelmio_api_doc:
    documentation:
        info:
            title: My App
            description: This is an awesome app!
            version: 1.0.0
        components:
            securitySchemes:
                SessionCookie:
                    type: apiKey
                    in: cookie
                    name: PHPSESSID
        security:
            - SessionCookie: []
    areas: # to filter documented areas
        path_patterns:
            - ^/api(?!/doc(?:$|\.json$|/)) # Accepts routes under /api except /api/doc and /api/doc.json
